/* Global */
:root{
/* Color */
--color-white: #ffffff;
--color-light-white: #FEF7F7;
--color-dark-white: #dbdbdb;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-dark-grey: #4d4d4d;
--color-dark-black: #222222;
--color-purple: #7c2ae8;
--color-dark-purple: #2A0E4F;
--color-deep-purple: #381369;
--color-orange: #E87041;
--color-yellow: #fff7d1;
--color-light-blue: #6fd6ff;
--color-light-green:#bff0cf;
--color-bright-green:#f3f6d4;

/* Font Size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

/* Font Weight */
--weight-bold: 700;
--weight-semi-bold: 500;
--weight-regular: 400;

/* Size */
--size-border-radius: 5px;

/* Animation */
--Animation-duration: 300ms;
}

/*Universal tags  */
*{
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    cursor: default;
    color: var(--color-dark-black);
}

a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typograghy*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-dark-black);
    margin: 16px 0px;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-dark-black);
    margin: 8px 0px;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-dark-black);
    margin: 8px 0px;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-dark-black);
    margin: 4px 0px;
}


/* About Major */
.about__majors{
  display: flex;
  justify-content: space-between;
  margin: 80px 0;

}

.major__icon{
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: var(--font-large);
  margin: auto;
  color: var(--color-deep-purple);
  border: 1px solid var(--color-deep-purple);
  border-radius: 49%;
  /* margin-bottom: 16px; */
}

.major__icon i{
  font-weight: var(--font-large);
  transition: all var(--Animation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-purple);
  transform: rotate(3deg) scale(1.4);
}
.major__description{
  font-size: var(--font-small);
}

.job{
  display: flex;
  align-items: center;
}

.job__logo{
  width: 149px;
}
.job__description{
  margin: 0 16px;
  text-align: left;
}
.job__name, .job__period{
  font-size: var(--font-micro);
}

/* ///////////////////////////// */
/* For below 1024px screen width */
/* ///////////////////////////// */

@media(max-width : 1024px){
:root{
    
/* Font size */

--font-large: 40px;
--font-medium: 26px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;
}    

/* section */
.section {
    padding: 16px;
    padding-top: 40px;
}

/* major */
.about__majors {
    /* flex-direction: column; */
    /* 배치는 모바일에서 조정, 태블릿은 마진 조정 */
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}
.major {
    margin-bottom: 30px;
}


}

/* ///////////////////////////// */
/* For below 768px screen width */
/* ///////////////////////////// */

@media(max-width : 768px){
:root {
/* Font size */

--font-large: 29px;
--font-medium: 20px;
--font-regular: 15px;
--font-small: 14px;
--font-micro: 12px;
}

/* aboutMe */
.major__icon{
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 40px;
    margin-bottom: 18px;
}

.job{
    display: flex;
    align-items: center;
}
.job__description{
    margin: 0 16px;
    text-align: left;
}
.job__logo{
    width: 120px;
}
.job__name, .job__period{
    font-size: var(--font-micro);
}

/* major */
.about__majors {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}
.major {
    margin-bottom: 30px;
}


}